<% layout('layouts/boilerplate') -%>
  <%= error %>
    <!-- <h2>All Listngs</h2> -->
    <!-- <h2><a href="/listings/new">creat new</a></h2> -->

    <style>
      #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      #filters .side_scroll{
        padding-left: 0.5rem;
      }

      #filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: .5rem;
        margin-bottom: 0.5rem;
      }
      #filter div i{
        height: 1rem ;
        width: 1rem ;
      }

      #filter:hover {
        opacity: 0.7;
        cursor: pointer;
      }
      #filter a{
        text-decoration: none;
        color: black;
      }

      #filter p {
        font-size: 0.8rem;
      }

      #tax-toggle {
        height: 2.rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0.5em;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }

      .tax-info {
        display: none;
      }

      .side_scroll {
        max-width: 780px;
        display: flex;
        overflow-x: auto;
        margin-right: 2rem;
      }

      .side_scroll::-webkit-scrollbar {
        width: 0;

      }
    </style>
    <div id="filters">
      <div class="side_scroll">

        <div id="filter">
          <a href="/listings">
            <div><i class="fa-solid fa-compass" style="font-size: 1.2rem;"></i></div>
            <p>All</p>
          </a>
        </div>

        <div id="filter">
          <a href="/trending">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </a>
        </div>


        <div id="filter">
          <a href="/bedroom">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Bedroom</p>
          </a>
        </div>


        <div id="filter">
          <a href="/swimming">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Swimming</p>
          </a>
        </div>


        <div id="filter">
          <a href="/city">
            <div><i class="fa-solid fa-city"></i></div>
            <p>City</p>
          </a>

        </div>
        <div id="filter">
          <a href="/mountains">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>mountains</p>
          </a>

        </div>
        <div id="filter">
          <a href="/camping">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
          </a>

        </div>
        <div id="filter">
          <a href="/farms">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
          </a>

        </div>
        <div id="filter">
          <a href="/arctic">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
          </a>

        </div>
        <div id="filter">
          <a href="/building">
            <div><i class="fa-solid fa-building"></i></div>
            <p>Building</p>
          </a>

        </div>
        <div id="filter">
          <a href="/near_road">
            <div><i class="fa-solid fa-road"></i></div>
            <p>Near road </p>
          </a>

        </div>
      </div>

      <div id="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax </label>
        </div>
      </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(listing of allListings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card">
            <img src="<%=listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%=listing.title%>
                </b>
                <br>
                &#8377;<%= typeof listing.price==="number" ? listing.price.toLocaleString("en-IN") : listing.price %>/
                  Night
                  <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>


    <script>
      let taxSwitch = document.getElementById("tax-toggle");
      taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for (info of taxInfo) {
          if (info.style.display != "inline") {
            info.style.display = "inline"
          }
          else {
            info.style.display = "none"
          }

        }
      })
    </script>